---
import DisqusComments from '@components/DisqusComments.astro'
import Logo from '@components/Logo.astro'
import Prose from '@components/Prose.astro'
import Layout from '@layouts/Layout.astro'

import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
export const getStaticPaths = (async () => {
	const allBlogPosts = await getCollection('blog', ({ data }) => {
		return data.categories?.includes('Web Development') && !data?.draft
	})

	return (
		allBlogPosts.map((post) => ({
			params: { post: `${post.slug}` },
			props: { post }
		})) || []
	)
}) satisfies GetStaticPaths

const { post } = Astro.props
const { Content } = await post.render()

const disqusConfig = {
	url: `${Astro.url.href}/blog${post.slug}`,
	identifier: post.slug,
	title: post.data.title
}
---

<Layout title={post.data.title} description={post.data?.description}>
	<main>
		<div class="mb-32">
			<Logo />
		</div>

		<h1 transition:name={`post-heading-${post.slug}`}>
			{post.data.title}
		</h1>
		<Prose>
			<Content />
		</Prose>

		<DisqusComments config={disqusConfig} />
	</main>
</Layout>
<style>
	h1 {
		font-family: 'DM Serif Text', serif;
		font-size: 42px;
		font-weight: 500;
		margin-bottom: 48px;
	}

	main {
		margin: 48px 0;
	}
</style>
