---
import Layout from '@layouts/Layout.astro'
import Prose from '@components/Prose.astro'
import { toNow } from 'src/utils'

import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
export const getStaticPaths = (async () => {
	const allBlogPosts = await getCollection('archives', ({ data }) => {
		return !data.categories?.includes('Web Development') && !data?.draft
	})

	return (
		allBlogPosts.map((post) => ({
			params: { post: `${post.slug}` },
			props: { post }
		})) || []
	)
}) satisfies GetStaticPaths

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout title={post.data.title}>
	<main>
		<h1 transition:name={`post-heading-archives-${post.slug}`}>
			{post.data.title}
		</h1>
		<div class="mb-12">
			<small class="text-slate-500" title={post.data.date}>Written {toNow(post.data.date)}</small>
		</div>
		<Prose>
			<Content />
		</Prose>
	</main>
</Layout>

<style>
	h1 {
		font-family: 'DM Serif Text', serif;
		font-size: 42px;
		font-weight: 500;
	}

	main {
		margin: 48px 0;
	}
</style>
